/* Structure */

.container {
  margin-top: 2em;
  text-align: center;
}

#profile-img {
  border-radius: 100%;
  width: 30%;
}

#links {
  padding: 0;
  text-align: center;
}

#links ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#links ul li {
  display: inline-block;
  margin: 0.5em;
}

/* Typography */
h1 {
    font-size: 23px;
    color: #880707;
    font-weight: 100;
    font-family: calibri;
}

p {
  font-family: 'Montserrat';
  font-size : 1.2em;
}

#console {
  color : #999;
  font-size: 1.2em;
}

#links ul {
  font-size: 1em;
  font-family: 'Montserrat';
  color : #0976D5;
}
