/* Structure */

.container {
  margin-top: 2em;
  text-align: center;
}

#profile-img {
  border-radius: 100%;
  width: 30%;
}

#links {
  padding: 0;
  text-align: center;
}

#links ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#links ul li {
  display: inline-block;
  margin: 0.5em;
}

/* Typography */
h1 {
    font-size: 23px;
    color: #880707;
    font-weight: 100;
    font-family: calibri;
}

p {
  font-family: 'Montserrat';
  font-size : 1.2em;
}

#console {
  color : #999;
  font-size: 1.2em;
}

#links ul {
  font-size: 1em;
  font-family: 'Montserrat';
  color : #0976D5;
}


.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .video-container {
        max-width: 500px; /* Adjust the max-width as needed for larger screens */
        padding-bottom: calc(500px * 9 / 16); /* Maintain 16:9 aspect ratio for max-width */

    }
}